*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #000;
}

/* container */
.container {
    background-color: #454545;
    border-radius: 10px;
    box-shadow: gray 0 0 5px 5px;
    margin: 0 auto;
    padding: 5px;
    max-width: 500px;
    height: 100%;
}    

/* Title */
.heading {
    color: aliceblue;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

/* Display */
.display {
    background-color: #000;
    border-radius: 10px;
    border: 0;
    color: #fff;
    font-size: 3rem;
    min-height: 15vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .display {
        height: 10rem;
    }
}

/* Buttons */
.btn-container {
    background-color: #454545;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    height: 100%;
    width: 100%;
    margin: 0 auto;
}    

.btn {
    background-color: #0e1111;
    border-radius: 10px;
    border: 0;
    color: aliceblue;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    gap: 3px;
    margin: 1px;
    padding: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.btn:hover {
    background-color: #1f1d1b;
}    

.btn:active {
    background-color: #4e4b51;
}    

.operator {
    border: 3px solid aliceblue;
}    

.ans {
    background-color: #ff007f;
    border: 2px solid #ff007f;
}    

.ans:hover {
    background-color: #de5d83;
    border: 2px solid #de5d83;
}    

.ans:active {
    background-color: #ffc1cc;
}

.functions {
    display: flex;
    width: 100%;
}

.btn-function {
    width: 100%;;
    background-color: #454545;
    font-weight: 400;
    color: orange;
}


@media screen and (min-width: 768px) {
    .btn {
        padding: 2rem;
    }
}

